
@mixin rotate($rotation: 10deg){
    transform: rotate($rotation);
    -ms-transform: rotate($rotation);
    -webkit-transform: rotate($rotation);
}

.mixin{
    background-color: rgb(182, 12, 174);
    @include rotate(60deg);
    width: fit-content;
    padding: 1rem;
}