.mixin {
  background-color: rgb(182, 12, 174);
  transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */