$font-family: Verdana, Geneva, Tahoma, sans-serif;
*{
    background-color: #333;
    font-family: $font-family;
    color: #fff;

}

    // L'héritage 
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{

    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

%shadow{
    box-shadow: 0px 1px 5px #fff;
}

.btn{
    padding: 10px;
    width: fit-content;
    border-radius: 500px;
        background-color: #7f81da;

     &:hover{
        background-color:#5153b1;
     }
}
// extend permet de recupérer la class btn pour l'appliquer a la class btn danger
.btn-danger{
    @extend .btn;
            background-color: #ee8472;

     &:hover{
        background-color:#e6492d;
     }
}
// ici je recupere la classe flex et btn pour creer ma card en lui rajountant des propriete
.card{
    @extend %shadow;
    @extend .flex;
    @extend .btn;
        height: 300px;
    width: 200px;
    border-radius: 25px;
}
// et ici je recupere la class btn-danger  combiner a la class card juste au dessus
.card-cancel{
    @extend .btn-danger;
    @extend .card;
}
// ce qui me donne les couleurs de btn-danger avec les propriete de card en plus
// faire attention au extend qui sont tres lourd car il rajoute les propriete sur le selecteur priviligié des extends léger 