* {
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.flex, .card, .card-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.card, .card-cancel {
  box-shadow: 0px 1px 5px #fff;
}

.btn, .card, .card-cancel, .btn-danger {
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 500px;
  background-color: #7f81da;
}
.btn:hover, .card:hover, .card-cancel:hover, .btn-danger:hover {
  background-color: #5153b1;
}

.btn-danger, .card-cancel {
  background-color: #ee8472;
}
.btn-danger:hover, .card-cancel:hover {
  background-color: #e6492d;
}

.card, .card-cancel {
  height: 300px;
  width: 200px;
  border-radius: 25px;
}/*# sourceMappingURL=style.css.map */