.box {
  background-color: #0cc75a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  width: -moz-fit-content;
  width: fit-content;
}

.box {
  background-color: #099744;
}

.box:last-child {
  background-color: #15f171;
}/*# sourceMappingURL=style.css.map */