$font-family: Verdana, Geneva, Tahoma, sans-serif;
$clr-green:#0cc75a;
$padding: 20px;


.box{
    background-color: #0cc75a;
    font-family: $font-family;
    padding: $padding + 10px;
    width: fit-content;
}

// les variables permette de faire des calcul plus complexe que avec du css classique avec calc()
// il est impossible d'effectuer des calcul entre differente unité en revanche si vous faites un calcul 
//sur une valeurs sans unité elle prendra la valeurs du calcul ex: padding 10 + 10em = 20em

$medium: 768px !default;
// default il prendra cette valeurs seulement si $medium n'est pas redéclarer ailleurs
// $medium-up: only screen and (min-width: #{$medium});

// il ne peut pas convertir la variable en tant que telle pour cella on l'entoure de #{} pour qu'il puissent la convertir
// @media #{$medium-up} {
//     .box{
//      width: 100%;
//     }
// };
 

//darken et lighten permet d'assombrire ou éclaircir une couleur
.box{
    background-color: darken($clr-green,10);
}

.box:last-child{
    background-color: lighten($clr-green,10);
}